name: Deploy to GitHub Pages

on:
  # Se activa cada vez que haces push a la rama 'main'
  push:
    branches: [ main ]
  # Te permite ejecutarlo manualmente desde la pestaña Actions en GitHub
  workflow_dispatch:

# Permisos necesarios para desplegar
permissions:
  contents: read
  pages: write
  id-token: write

# Evita que se ejecuten varios despliegues a la vez
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout your repository using git
        uses: actions/checkout@v4
      - name: Install, build, and upload your site
        uses: withastro/action@v3
        # with:
          # path: . # La raíz de tu proyecto (opcional)
          # node-version: 20 # Versión específica de Node (opcional)
          # package-manager: pnpm@latest # Opcional, detecta automático

  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4